@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --dark: #181818;
    --dark-input: #121212;
    --white: #fff;
    --dark-grey: #323232;
    --roboto-font: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--dark);
    font-family: var(--roboto-font);
}

/* Generales */
ul {
    list-style: none;
    padding: 0;
}

/* Utils */
.text-dark {
    color: var(--dark);
}

.text-white {
    color: var(--white);
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.d-none {
    display: none;
}


/* Header */
.input-icons {
    position: relative;
    width: 100%;
}

.input-icons i:hover {
    cursor: pointer;
}

.input-icons i {
    position: absolute;
    right: 0;
    top: 8px;
    padding: 10px 0;
    min-width: 40px;
    color: var(--white);
    /* display: none; */
}

.input-icons i:last-child {
    position: absolute;
    right: -54px;
    top: 8px;
    padding: 10px;
    min-width: 60px;
    text-align: center;
    background-color: var(--dark-grey);
    height: 2.5rem;
    color: var(--white);
    /* display: none; */
}

input[type=text] {
    position: relative;
    padding: .5rem;
    margin: .5rem;
    height: 2.5rem;
    border: 1.5px solid var(--dark-grey);
    background-color: var(--dark-input);
    color: var(--white);
    width: 25rem;
}





/* Avatar */
.circle_avatar {
    background-color: var(--white);
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    background-image: url("../img/avataaars.png");
    background-position: center center;
}